
code{
    white-space: pre-wrap;
    display: inline;
    overflow: hidden;
    margin: 20px;
}

div.code-notation{
    border: 2px solid black;
    width: fit-content;
    margin: 20px auto;
}

div.code-notation ul{
    min-width: 33%;
}

div.code-notation div.code-notation-title{
    display: block;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    background-color: green;

}

div.code-notation div.code-notation-content{
    padding: 20px;
}

div.code-notation span{
    display: inline;
    width: auto;
    height: fit-content;
}

div.code-notation code span.highlighted{
    background-color: yellow;
    padding: 4px 0px;
    font-weight: bold;

}

body{
    margin: 0px;
}

.container{
    width: 100%;
    height: 1080px;
}

.page{
    width: 80%;
    min-height: 800px;
    height: 100%;
    border: 2px solid rgb(133, 125, 125);
    border-radius: 5px;
    padding: 10px;
    margin: 25px auto;
}

.nav-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(47, 47, 194);
}

.footer{
    height: 75px;
    width: 100%;
    background-color: rgb(47, 47, 194);
}

.blog-post .blog-title{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.page p{
    width: 90%;
    margin: 10px auto 0px;
}

.page .page-title{
    font-size: 50px;
    text-align: center;
    display: block;
}