body{
    margin: 0px;
}

canvas{
    height: auto;
    width: auto;
}

nav{
    display: flex;
    height: 40px;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
    background-color: rgb(77, 73, 73);
}

nav a{
    text-decoration: none;
    text-align: center;
    align-content: center;
    width: 100px;
    color:rgb(248, 241, 231);
}

nav a:hover{
    color: rgb(77, 73, 73);
    background-color: rgb(248, 241, 231);
}

footer{
    display: flex;
    height: 40px;
    width: 100vw;
    font-size: 14px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 20px;
    background-color: rgb(77, 73, 73);    
}

footer a{
    text-decoration: none;
    text-align: center;
    align-content: center;
    width: 100px;
    color:rgb(248, 241, 231);
}

div#post-viewer{
    width: 70vw;
    height: 80vh;
    overflow: scroll;
}

div#post-viewer figure.size-large{
    text-align: center;
    
}

div#post-viewer figure.size-large img{
    max-width:80%;
    width: auto;
    height: auto;
    margin: auto;
}

div#post-viewer div.wp-block-syntaxhighlighter-code{
    
}

div#main{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

div#content{
    width: 80vw;
    text-align: center;
    padding-top: 30px;
}

div.side-border{
    display: inline-block;
    width: 10vw;
    height: 100vh;
    background-color: rgb(143, 142, 142);
}